{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Home{% endblock %}

{% block cerad_zayso_content %}

<h3> User Home {{ app.user.username }} </h3>


{% endblock cerad_zayso_content %}

