
    <h1>Text Alerts</h1>
    <p>
        TODO: Create rained out account for 2014 if they want one.<br />
        TODO: Clean up the styling.  Maybe crop the background image or just get rid of it.
    </p>
    <h2>Signing Up For Text Alerts</h2>
        <p>
            Sign up for late breaking text alerts.  
            Things like schedule changes, tsunamis or Schwarzenegger sightings.
        </p>
        <p>There should only be a few.  None if all goes well.</p>
    <p>
        <a href="{# https://www.rainedout.net/team_page.php?a=f2a474d84a006d51bbe9 #}" target="_blank">
            Join AYSO National Games 2014 text alerts on RainedOut
        </a>
    </p>
    
    <div class="rained_out">
        <script type="text/javascript" src="https://www.rainedout.net/invite_smartcode.php?a=f2a474d84a006d51bbe9"></script>
    </div>
    
    <div class="rained_out">
        <h2>Recent Alerts will be shown below:</h2>
        <script type="text/javascript" src="http://widgets.omnilert.net/f2a474d84a006d51bbe9-8504"></script>
    </div>
