{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Search{% endblock %}

{% block cerad_zayso_content %}

<h3>Search Form</h3>
{{ render(controller('CeradZaysoBundle:Main:searchForm')) }}

{% endblock cerad_zayso_content %}


