<form id="zayso_search_form" action="{{ path('cerad_zayso_search') }}" method="post" {{ form_enctype(form) }}>
<fieldset>
    {{ form_rest(form) }}
</fieldset>
<fieldset>
    <input type="submit" value="Submit" />
</fieldset>
</form>


