{% extends "@project/layout.html.twig" %}

{% block title %}Text Alerts{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content">
{% include '@project/rained_out.html.twig' %}
</div>
{% endblock %}


