/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml

/nbproject/private
/nbprojectx/

/web/info.php
/composer.lock
/.sass-cache
/app/SymfonyRequirements.php
/app/check.php
/app/phpunit.xml

/src/Acme/
/web/a5bgames/bundles/
/web/natgames/bundles/
/web/natgames2014/bundles/
/web/s5games/bundles/
/web/natgames2014x/bundles/
/web/cerad/
/web/arbiter/bundles/
/web/arbiter/tourn/bundles/
/web/cerad2/bundles/
/web/phpBB3/