<!DOCTYPE html>
<html>
    <head>
        <title>MyAngular</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script type="text/javascript"  src="/angular/vendor/angular.min.js"></script>
        <script type="text/javascript"  src="main.js"></script>
    </head>
    <body>
        <div><a href="/angular/index.html">Back to home</a></div>
        <h3> <a href="http://egghead.io/lessons/angularjs-filters">
            Egghead AngularJS V05 Egghead AngularJS V06 Filters
        </a></h3>
        
        <div ng-app="myApp">
            
            <div ng-controller="FirstCtrl">
                <input type="text" ng-model="data.message"/>
                <h1>{{data.message + " W1orld"}}</h1>
            </div>
            
            <div ng-controller="SecondCtrl">
                <input type="text" ng-model="data.message"/>
                <h1>{{ data.message + " W2orld" | reverse }}</h1>
            </div>
            
        </div>
    </body>
</html>
