{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Admin{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content_admin">
<h1>Admin Page</h1>
<p>
    This will normally be hidden to most users but it shows how to get rid of the background image.  
    And it might have a fancier menu and other admin things.
</p>
</div>
{% endblock %}
