{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Volunteer lan{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content_admin" style="height: 1000px;">
<h1>Volunteer's Plan for the Games</h1>
<p>
    By the time they get here,
    the volunteer will have already created an account and 
    filled in basic contact info as well as their ayso id and region.
</p>
<p>
    This is focused on the referee team for now but other volunter positions (field marshalls etc) could be added and tracked.
</p>
{# include('@project/Volunteer/plan_form.html.twig') #}
{{ render(controller('CeradZaysoBundle:Main:volunteerPlanForm', { 'projectKey': projectKey })) }}
<p>TODO: Add some more details for certain fields.  Could also get a little fancy with javascript and only show certain fields.</p>
</div>
{% endblock cerad_zayso_content %}
