<form action="{{ path('cerad_zayso_volunteer_plan_form') }}" method="post" {{ form_enctype(form) }}>
<fieldset>
    {{ form_rest(form) }}
</fieldset>
<fieldset>
    <input type="submit" value="Submit" />
</fieldset>
</form>
