{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Classes{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content">

<h1>Referee Classes</h1>
<p>TODO: EAYSO rosters have been created for the following courses:</p>
<table border="1">
    <tr><td>Roster Number</td><td>Course</td><td>Date/Time</td></tr>
    <tr><td>2014xxxxx</td><td>National Referee Course</td>              <td>&nbsp;</td></tr>
    <tr><td>2014xxxxx</td><td>Advanced Referee Course</td>              <td>&nbsp;</td></tr>
    <tr><td>2014xxxxx</td><td>Intermediate Referee Course</td>          <td>&nbsp;</td></tr>
    <tr><td>2014xxxxx</td><td>Referee Assessor</td>                     <td>&nbsp;</td></tr>
    <tr><td>2014xxxxx</td><td>National Referee Assessor</td>            <td>&nbsp;</td></tr>
    <tr><td>2014xxxxx</td><td>Basic Referee Online Companion Course</td><td>&nbsp;</td></tr>
</table>
<p>Please sign in to <a href="http://www.eayso.org" target="_blank">EAYSO</a>, click on "Enroll to take a class" and
    sign yourself up.</p>
<h2>Location</h2>
<p>
    TODO: Add Class Locations
</p>
</div>
{% endblock %}
