{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Contact{% endblock %}

{% block cerad_zayso_content %}
<h1>Contact Information</h1>
<p>
    TODO: Consider adding a simple contact form.  See how much spam we get.
</p>
<p>
    The best way to contact us is to send an email to: contact@<em>TODO</em>
</p>
<p>
    The email will be forwarded to <em>TODO</em> - List Names.
</p>
<p>
    If you are having trouble with the web site itself then feel free to call Art at 256.457.5943.
</p>
{% endblock %}
