{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Welcome{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content">
<h1>Welcome To The AYSO National Games 2014 Referee Registration Site</h1>
<p>
    This site is still under construction.  Registration will open on 15 May 2013.
</p>
<p>
    TODO: Add some words of welcome.
</p>
<p>
    TODO: Add referee signin form
</p>
<p>
    TODO: Provide some basic info on referee registration.
</p>
</div>
{% endblock cerad_zayso_content %}
